<div class="background">
  <div class="container">
    <div>
      <h1>Welkom op Majestum Kingdom!</h1>
      <p>Ben je klaar voor de Kingdom ervaring waar je al die tijd al op zoek naar bent? Zo ja, dan zit je goed bij Majestum Kingdom! De Minecraft Kingdom server die gemaakt is voor en door Kingdom spelers!</p>
      <p>Onze missie is om een unieke en gezellige server te creëren waar in jij je helemaal thuis zal voelen! Dit doen wij met behulp van een staffteam dat zelf veel ervaring heeft met het spelen en moderaten van Kingdom.</p>
      <p>Wil je zelf een Kingdom oprichten en dit uitbreiden om deel te zijn van de grootmachten, een machtige krijger worden die deel neemt in epische strijden of word jij de handelaar die de vrede bewaard en zo de rijkste wordt?</p>
      <p>Bepaal je lot en neem deel aan het verhaal van Majestum Kingdom!</p>
    </div>
    <div>
      <img src="../../../assets/warp-spawn.jpg" alt="Warp spawn">
      <!-- <video src="../../../assets/trailer.mp4" autoplay loop controls></video> -->
    </div>
  </div>
</div>
