@import "/src/scss/sizes";

footer {
  height: 90px;
  display: flex;
  text-align: center;
}

.background {
  background-image: url("../../../assets/stone.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
}

@media (min-width: $size-lg) {
  footer {
    text-align: right;
  }
}
