@import "/src/scss/colors";
@import "/src/scss/sizes";

img {
  height: 65px;
  width: auto;
}

.logo {
  cursor: pointer;
}

mat-toolbar {
  height: 90px;
  position: fixed;
  z-index: 350;
}

.container {
  display: flex;
  justify-content: space-between;
}

.menu-large {
  display: none;
}

@media (min-width: $size-md) {
  .menu-small {
    display: none;
  }

  .menu-large {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    .links {
      display: flex;

      > div {
        padding: 1rem;

        &:hover {
          cursor: pointer;
          color: darken(white, 20%);
        }
      }
    }
  }
}

::ng-deep .mdc-text-field--filled {
  background-color: transparent !important;
}

::ng-deep .mdc-floating-label,
::ng-deep .mdc-text-field__input,
::ng-deep .mat-mdc-form-field-infix {
  color: white !important;
}

::ng-deep .mdc-floating-label--float-above {
  color: transparent !important;
}

::ng-deep .mat-mdc-form-field-infix {
  padding-top: 1.25rem !important;
}

::ng-deep .mat-form-field-appearance-fill {
  border-bottom: 1px solid lighten($mkd-accent, 10%);
}

::ng-deep .mat-toolbar-row,
::ng-deep .mat-toolbar-single-row {
  padding: 0 !important;
}
