@import "/src/scss/colors";
@import "/src/scss/sizes";

.background {
  background-image: url("../../../assets/hero.jpg");
  background-repeat: no-repeat;
  background-position: 0 0;
  background-size: cover;
  min-height: 550px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 90px;
  //box-shadow: inset 0 0 100px black;
  position: relative;
  overflow: hidden;

  *:not(.vignet) {
    z-index: 250;
  }
}

.vignet {
  z-index: 200;
  position: absolute;
  top: 0; left: 0;
  height: 550px;
  width: 100%;
  background: radial-gradient(circle at center, transparent, black);
}

.container {
  display: flex;
  flex-wrap: wrap;
}

.img {
  width: 70%;
  display: block;
  margin: 0 15%;
}

.info {
  display: flex;
  flex-direction: column;
  margin-top: 4rem;
  text-align: center;
  flex-grow: 1;

  > img {
    height: 3.5rem;
  }

  > div {
    margin-top: 1rem;

    &:hover {
      color: lighten($mkd-accent, 70%);
      cursor: pointer;
      user-select: none;
    }

    p {
      text-transform: uppercase;
      line-height: 1.5;
      font-size: 0.8rem;

      &:first-child {
        font-size: 1.25rem;
        font-weight: 500;
      }
    }
  }
}

@media (min-width: $size-md) {
  .container {
    justify-content: space-between;
  }

  .img {
    width: 300px;
    display: block;
    margin: 0 1.75rem;
    order: 2;
  }

  .info {
    flex-direction: row;
    align-items: center;
    margin-top: 0;
    text-align: left;
    order: 1;

    > img {
      margin-right: 1rem;
    }

    &:last-of-type {
      order: 3;
      justify-content: end;

      > img {
        order: 2;
        margin-left: 1rem;
        margin-right: 0;
      }

      > div {
        order: 1;
      }
    }

    > div {
      margin-top: 0;
    }


  }
}

@media (min-width: $size-lg) {
  .img {
    width: 450px;
  }
}

a {
  text-decoration: none;
  color: #fff;
}
