$mkd-primary-palette: (
    50 : #e1e2e6,
    100 : #b5b7c0,
    200 : #848796,
    300 : #52576c,
    400 : #2d334d,
    500 : #080f2d,
    600 : #070d28,
    700 : #060b22,
    800 : #04081c,
    900 : #020411,
    A100 : #5252ff,
    A200 : #1f1fff,
    A400 : #0000eb,
    A700 : #0000d2,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);

$mkd-accent-palette: (
    50 : #e3e4eb,
    100 : #b8bccc,
    200 : #8990aa,
    300 : #5a6388,
    400 : #36416f,
    500 : #132055,
    600 : #111c4e,
    700 : #0e1844,
    800 : #0b133b,
    900 : #060b2a,
    A100 : #6575ff,
    A200 : #3248ff,
    A400 : #001bfe,
    A700 : #0018e5,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #ffffff,
        400 : #ffffff,
        500 : #ffffff,
        600 : #ffffff,
        700 : #ffffff,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #ffffff,
        A200 : #ffffff,
        A400 : #ffffff,
        A700 : #ffffff,
    )
);
